.form-control {
    border-radius: 0px;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: relative !important;
}

.modal80PerWidth {
    width: 80% !important;
}
.modal90PerWidth {
    width: 90% !important;
}
.preview-Modal,.ro-modal
{
    width: 720px !important;
}
